<!DOCTYPE html>
<html data-theme="nord">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css" rel="stylesheet" type="text/css" />
  </head>
 <%= erb :theme %>
  <body class="justify-center">
    <h1 class="text-4xl font-bold text-center">Wiki Ruby</h1>
    <div class="container mx-auto p-4" x-data="{isLoading: false}">

    <form class="justify-center align-center place-self-center" hx-get="/search" hx-target="#search-results" hx-swap="innerHTML" class="mb-4" @submit="isLoading = true">
      <input type="text" name="query" placeholder="Search..." class="border p-2 rounded"/>
      <button type="submit" class="bg-red-500 text-white rounded p-2 hover:bg-red-700">Search</button>
    </form>
    </div>
    <div id="search-results">
      <div x-show="isLoading" class="text-center"></div>
    </div>
  </body>

</html>
