<div class="bg-white p-4 rounded shadow">
  <h2 class="text-2xl font-bold"><%= @page.title %></h2>
  <div class="p4">
   <img src="<%= @page.main_image_url %>" />
  </div>
  <div class="mt-4">
    <%= @page.text %>
  </div>
</div>
